:root {
  --container-height: 100vh;
}

#app {
  margin: 0px -15px;
}

*,
*:focus,
*:hover,
*:active {
  outline: none !important;
}

.n-menu.n-menu--horizontal .n-menu-item-content {
  padding: 0 12px !important;
}

.n-menu-item-content--selected {
  border-bottom-color: #3364eb !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

pre {
  margin: 0;
  padding: 0;
}

.n-data-table-sorter {
  vertical-align: 0 !important;
}

.n-radio-group .n-radio-group__splitor {
  vertical-align: middle;
  margin-top: -20px;
}

.n-radio-button {
  font-weight: 400 !important;
}

.n-descriptions-table-header {
  font-weight: 600 !important;
}

.n-descriptions-header {
  font-weight: 600 !important;
}

.n-data-table-resize-button {
  right: calc(calc(var(--n-resizable-container-size) / 2) - 7px) !important;
}

.n-tree-node-indent {
  width: 10px !important;
}

.n-modal-mask,
.n-drawer-mask {
  background-color: transparent !important;
  backdrop-filter: blur(4px);
}

.content {
  border-radius: 1.2rem;
  padding: 15px;
  border: 1px solid rgb(226, 232, 240);
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}

.dark .content {
  background: #030711 !important;
  border: 1px solid rgb(29, 40, 58) !important;
  box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.n-data-table-expand-trigger {
  margin-right: 10px !important;
}

.n-tree-node-content__text {
  font-weight: 500;
}

body.dark .apexcharts-legend-text,
body.dark .map-legend-text {
  color: white !important;
}

body:not(.dark) .homepage-widget .col:last-child {
  border-right: 1px solid transparent;
}
body.dark .homepage-widget .col {
  border-right: 1px solid rgb(29, 40, 58);
}

body.dark .homepage-widget .col:last-child {
  border-right: 1px solid rgb(3, 7, 17);
}
body.dark text[id^="SvgjsText"] {
  fill: white;
}

body.dark .v-text {
  fill: white;
}

body.dark .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
  background: rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #333;
}

body.dark .apexcharts-tooltip.apexcharts-theme-light {
  color: #fff;
  background: rgba(30, 30, 30, 0.8);
}

body.dark .apexcharts-tooltip.apexcharts-theme-light {
  border: 1px solid rgba(30, 30, 30, 0.8);
}

body.dark .apexcharts-menu {
  background: rgba(30, 30, 30, 0.8);
  border: 1px solid rgba(30, 30, 30, 0.8);
}

body.dark .apexcharts-menu-item:hover {
  background: rgb(148, 158, 169);
}

body.dark .n-card__content .n-space {
  background: rgb(3, 7, 17) !important;
}
